<!-- _search_results.html.erb -->

<h2>Search Results</h2>

<% if @search_results.present? %>
  <ul>
    <% @search_results.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No recipes found for this query</p>
<% end %>
